.breadcrumb {
  margin-bottom: 16px;
}

.space-container {
  margin-bottom: 16px;
  width: 100%;
  justify-content: space-between;
}

.search-input {
  width: 240px;
}

.select-input {
  width: 200px;
}

.addUserButton {
  padding: 17px;
}

.ant-table {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#firstRowTable {
  background-color: rgb(217 217 217 / 39%);
  font-weight: bold;
}
