.breadcrumb {
  margin-bottom: 16px;
}

.space-container {
  margin-bottom: 16px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-input {
  width: 100%;
  max-width: 240px;
}

.select-input {
  width: 100%;
  max-width: 200px;
}

.addUserButton {
  padding: 17px;
  width: 100%;
  max-width: 200px;
}

.ant-table {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#firstRowTable {
  background-color: rgb(217 217 217 / 39%);
  font-weight: bold;
}

@media (max-width: 768px) {
  .space-container {
    flex-direction: column;
  }

  .addUserButton,
  .search-input,
  .select-input {
    width: 100%;
    margin-bottom: 8px;
  }

  .breadcrumb {
    font-size: 14px;
  }
}
